@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bluegreen: hsl(178, 79%, 40%);
    --rosewater: hsl(357, 83%, 86%);
    --champagne: hsl(47, 93%, 79%);
    --cyan: hsl(174, 77%, 68%);
}

* {
    font-family: 'Open Sans', Arial, sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', Arial, sans-serif;
}

body {
    display: grid;
    grid-template-areas: 
        "header"
        "about"
        "projects"
        "skills"
        "contact"
        "footer";
    margin: 0;
}

header {
    grid-area: header;
    display: flex;
    height: 3.5rem;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: var(--bluegreen);
}

header h1 {
    margin-top: .5rem;
    margin-left: .5rem;
    margin-bottom: 0;
    color: #E7E5A0;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    width: 100vw;
    padding: 2rem 0;
}

nav ul li {
    list-style-type: none;
    padding: 1rem 0;
    width: 100vw;
    text-align: center;
    color: var(--champagne);
    background-color: var(--bluegreen);
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.2s ease;
}



nav ul li a {
    text-decoration: none;
    display: block;
    color: inherit;
}

nav ul li:hover {
    /* background-color: hsl(178, 79%, 30%); */
    background-color: var(--rosewater);
    cursor: pointer;
    color: var(--bluegreen);
    font-weight: 700;
    font-size: 1.5rem;
}

nav ul li:active {
    background-color: var(--rosewater);
    cursor: pointer;
    color: var(--bluegreen);
    font-weight: 700;
    font-size: 1.5rem;
}

nav.desktop {
    position: fixed;
    top: 3.5rem;
    width: 100vw;
    left: 0;
    height: fit-content;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    margin: 0 auto;
    background-color: var(--bluegreen);
}

input[type=checkbox] {
    display: none;
}

.dropdown {
    display: flex;
    justify-content: space-between;
}

.hamburger {
    align-self: flex-end;
}

label {
    cursor: pointer;
    margin-right: .5rem;
}

input[type=checkbox] + label {
    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      background-color: var(--champagne);
      margin: 4px;
      transition: all 0.2s;
    }
    .top-bar {
      transform: rotate(0);
    }
    .middle-bar {
      opacity: 1;
    }
}
  
input[type=checkbox]:checked + label {
    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
    .middle-bar {
      opacity: 0;
    }
    .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }

    nav.desktop {
        visibility: visible;
        opacity: 1;
        height: 100vh;
    }
}

input[type=checkbox]:checked ~ nav.desktop {
    visibility: visible;
    opacity: 1;
    height: 100vh;
}

h2 {
    text-align: center;
}

.about-me {
    grid-area: about;
    text-align: left;
    place-self: center;
    padding: 1rem;
    background-color: var(--champagne);
    color: var(--bluegreen);
}

.about-me img {
    display: block;
    width: 40vw;
    margin: 0 auto;
}

.about-me h2 {

}

.projects {
    grid-area: projects;
    text-align: left;
    place-self: center;
    padding: 1rem;
    background-color: var(--bluegreen);
    color: var(--champagne);
}

.projects img {
    display: block;
    margin: 0 auto;
}

.projects h3 {
    text-align: center;
}

.skills {
    grid-area: skills;
    place-self: center;
    padding: 1rem;
    background-color: var(--champagne);
    color: var(--bluegreen);
}

.skills-logos {
    display: flex;
    justify-content: space-around;
}

.contact {
    grid-area: contact;
    place-self: center;
    padding: 1rem;
    background-color: var(--bluegreen);
    color: var(--champagne);
}

.contact form {
    margin-top: 2rem;
    margin: 2rem 0;
}

footer {
    grid-area: footer;
    font-size: .5rem;
}